body {
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}

header {
    height: 6em;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

main {
    background-image: url("https://i.pinimg.com/originals/7f/e7/74/7fe774bbacce09f00cb5b2e3cbc48db3.png");
}

footer {
        height: 6em;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellowgreen;
}